html {
  width: 100%;
}

body {
  margin: 0px;
}

main {
  width: 100%;
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: black;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

footer {
  width: 100%;
  background-color: #2f302f;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}

@font-face {
  font-family: 'Shrikhand', cursive;
  src: url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
}
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
.main__button {
  display: auto;
  width: fit-content;
  box-sizing: border-box;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  padding: 0px 20px;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  box-shadow: 0px 2px 10px 0px #c5c7c6;
  transition: all 250ms;
}
.main__button:hover {
  background: linear-gradient(180deg, #ff88de 0%, #9b63df 100%);
  box-shadow: 0px 2px 10px 0px #6f7070;
}

#logo {
  width: 100%;
  font-family: 'Shrikhand';
  margin: auto;
  background-color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 8px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #e9ebeb;
  height: 50px;
}

.fa-map-marker-alt {
  color: #2f302f;
}

.form {
  background: #e9ebeb;
  border: 0px;
  padding-left: 18px;
  width: 125px;
}

.form:focus {
  border: 0px;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f5f7f7;
  height: 287px;
  margin: auto;
  text-align: center;
  padding-top: 45px;
}

.subtitle {
  margin: 0px;
}

.subtitle__intro {
  font-weight: 400;
}

.explore {
  text-decoration: none;
  color: white;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 57px;
}

#fonctionnement {
  margin-bottom: 68px;
}

.fonctionnement {
  margin-top: 45px;
  margin-left: 20px;
  margin-bottom: 28px;
}
.fonctionnement__card {
  display: flex;
  align-items: center;
  width: 86%;
  height: 72px;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 25px;
  box-shadow: 0px 2px 10px 0px #e4e6e6;
  background-color: #f5f7f7;
}
.fonctionnement__card__number {
  background-color: #9356DC;
  color: white;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  text-align: center;
  line-height: 24px;
  margin-left: -12px;
}
.fonctionnement__card__icone {
  margin-left: 22px;
  margin-right: 25px;
}
.fonctionnement__card__text {
  font-weight: bold;
  color: black !important;
}
.fonctionnement__card:hover {
  color: #9356DC !important;
  background-color: #f7ecff;
}

#restaurants {
  width: 100%;
  background-color: #f5f7f7;
  display: block;
}

.restaurant {
  padding-top: 45px;
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 28px;
}
.restaurant__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.restaurant__card {
  display: block;
  background-color: #FFFFFF;
  border-radius: 11px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  width: 90%;
  min-width: 246px;
  margin: auto;
  margin-bottom: 30px;
  box-sizing: border-box;
}
.restaurant__card__img {
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 11px;
  border-top-left-radius: 11px;
  height: 174px;
}
.restaurant__card__info {
  display: flex;
  justify-content: space-between;
  height: 77px;
  margin-left: 14px;
  margin-right: 24px;
}

.restaurant__card__info__text__title {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 15px;
}
.restaurant__card__info__text__place {
  margin-top: 0px;
}

.restaurant__card__info__heart {
  display: block;
  align-content: center;
}
.restaurant__card__info__heart__visible {
  display: block;
  position: relative;
  top: 25px;
  background-color: white;
  opacity: 1;
  transition: opacity 250ms;
  z-index: 1;
}
.restaurant__card__info__heart__visible:hover {
  opacity: 0;
}
.restaurant__card__info__heart__hidden {
  background: linear-gradient(55deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 3px;
}

.heart-icon {
  font-size: 21px;
}

#footerlogo {
  font-family: 'Shrikhand';
  margin-left: 25px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}
.footer__list__link {
  color: white !important;
  margin-bottom: 8px;
}
.footer__list__icone {
  width: 11px;
  height: 13px;
  margin-right: 12px;
}

.fa-arrow-left {
  font-size: 20px;
  margin-top: 15px;
  position: absolute;
  margin-left: 23px;
}

/*# sourceMappingURL=style.css.map */
