html {
  width: 100%;
}

body {
  margin: 0px;
}

main {
  width: 100%;
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: black;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

footer {
  width: 100%;
  background-color: #2f302f;
  color: white;
  padding-top: 25px;
  padding-bottom: 60px;
}

@font-face {
  font-family: 'Shrikhand', cursive;
  src: url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
}
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
.main__button {
  display: block;
  width: fit-content;
  box-sizing: border-box;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  padding: 0px 20px;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: 0px 2px 10px 0px #c5c7c6;
  transition: all 250ms;
}
.main__button:hover {
  background: linear-gradient(180deg, #ff88de 0%, #9b63df 100%);
  box-shadow: 0px 2px 10px 0px #6f7070;
}

.commander {
  margin: auto;
  margin-top: 30px;
}

.loader {
  display: flex;
  top: 50%;
  width: 100%;
  height: 100%;
  z-index: 1;
  animation: load 3s;
  position: absolute;
  justify-content: center;
  animation-fill-mode: both;
}
.loader__background {
  background-color: white;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  z-index: 2;
  animation: load 3s;
  animation-fill-mode: both;
}

.dot {
  position: relative;
  width: 24px;
  height: 24px;
  background: #9356DC;
  border-radius: 100%;
  display: inline-block;
  animation: zoom 1s;
  animation-iteration-count: 4;
  animation-fill-mode: both;
  z-index: 4;
}

.dot:nth-child(1n) {
  animation-delay: 0.1s;
}

.dot:nth-child(2n) {
  animation-delay: 0.2s;
}

.dot:nth-child(3n) {
  animation-delay: 0.3s;
}

.dot:nth-child(4n) {
  animation-delay: 0.4s;
}

.dot:nth-child(5n) {
  animation-delay: 0.5s;
}

.dot:nth-child(2) {
  background-color: #FF79DA;
}

.dot:nth-child(3) {
  background-color: #99E2D0;
}

.dot:nth-child(4) {
  background-color: #FF79DA;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes load {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
#logo {
  width: 100%;
  font-family: 'Shrikhand';
  margin: auto;
  background-color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 8px;
  box-shadow: inset 0px -6px 9px -10px black;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #e9ebeb;
  height: 50px;
}

.fa-map-marker-alt {
  color: #2f302f;
}

.form {
  background: #e9ebeb;
  border: 0px;
  padding-left: 18px;
  width: 125px;
}

.form:focus {
  border: 0px;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f5f7f7;
  height: 287px;
  margin: auto;
  text-align: center;
  padding-top: 45px;
}

.subtitle {
  margin: 0px;
}

.subtitle__intro {
  font-weight: 400;
}

.explore {
  text-decoration: none;
  color: white;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 57px;
}

#fonctionnement {
  margin-bottom: 68px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.fonctionnement__title {
  margin-top: 45px;
  margin-left: 20px;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .fonctionnement__title {
    text-align: center;
    margin-left: 0px;
  }
}
.fonctionnement__card {
  display: flex;
  align-items: center;
  width: 86%;
  height: 72px;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 25px;
  box-shadow: 0px 2px 10px 0px #e4e6e6;
  background-color: #f5f7f7;
  transition: all 250ms;
}
@media screen and (min-width: 768px) {
  .fonctionnement__card {
    width: 25%;
  }
}
.fonctionnement__card__number {
  background-color: #9356DC;
  color: white;
  padding: 1px 8px;
  border-radius: 100%;
  text-align: center;
  line-height: 24px;
  margin-left: -12px;
}
.fonctionnement__card__icone {
  margin-left: 22px;
  margin-right: 20px;
}
.fonctionnement__card__text {
  font-weight: bold;
  color: black !important;
  margin: 5px;
}
.fonctionnement__card:hover {
  color: #9356DC !important;
  background-color: #f7ecff;
}

#restaurants {
  width: 100%;
  background-color: #f5f7f7;
  display: block;
}

.restaurant {
  padding-top: 45px;
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .restaurant {
    text-align: center;
    margin-left: 0px;
  }
}
.restaurant__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.restaurant__link {
  width: 90%;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .restaurant__link {
    width: 45%;
  }
}
@media screen and (min-width: 1440px) {
  .restaurant__link {
    width: 20%;
  }
}
.restaurant__card {
  display: block;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 11px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  width: 100%;
  min-width: 246px;
  margin: auto;
  margin-bottom: 30px;
  box-sizing: border-box;
}
.restaurant__card__new {
  position: absolute;
  background-color: #69e8d1;
  color: #008b61;
  width: 81px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 2px;
  top: 13px;
  font-size: 13px;
  right: 13px;
}
.restaurant__card__img {
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 11px;
  border-top-left-radius: 11px;
  height: 174px;
}
.restaurant__card__info {
  display: flex;
  justify-content: space-between;
  height: 77px;
  margin-left: 14px;
  margin-right: 24px;
}

.restaurant__card__info__text__title {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 15px;
}
.restaurant__card__info__text__place {
  margin-top: 0px;
}

.restaurant__card__info__heart {
  display: block;
  align-content: center;
}
.restaurant__card__info__heart__visible {
  display: block;
  position: relative;
  top: 25px;
  background-color: white;
  opacity: 1;
  transition: opacity 250ms;
  z-index: 1;
}
.restaurant__card__info__heart__visible:hover {
  opacity: 0;
}
.restaurant__card__info__heart__hidden {
  background: linear-gradient(55deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 3px;
}

.heart-icon {
  font-size: 21px;
}

#footerlogo {
  font-family: 'Shrikhand';
  margin-left: 25px;
}
@media screen and (min-width: 768px) {
  #footerlogo {
    text-align: center;
    margin-left: 0px;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}
@media screen and (min-width: 768px) {
  .footer__list {
    text-align: center;
    margin-left: 0px;
  }
}
.footer__list__link {
  color: white !important;
  margin-bottom: 8px;
}
.footer__list__icone {
  width: 11px;
  height: 13px;
  margin-right: 12px;
}

.fa-arrow-left {
  font-size: 20px;
  margin-top: 15px;
  position: absolute;
  margin-left: 23px;
}

.image__img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  margin-bottom: -35px;
}

#menu__title {
  width: 100%;
  background-color: #f5f7f7;
  display: block;
  position: absolute;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.menu__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .menu__title {
    justify-content: center;
  }
}
.menu__title__text {
  font-family: 'Shrikhand';
  margin-right: 15px;
  margin-left: 15px;
}
.menu__title__heart {
  background-color: #f5f7f7;
}

#dishes {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  background-color: #f5f7f7;
}
@media screen and (min-width: 768px) {
  #dishes {
    flex-direction: row;
    justify-content: space-around;
  }
}

@keyframes card {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.dishes__block__card:nth-child(1n) {
  animation-delay: 0.25s;
}

.dishes__block__card:nth-child(2n) {
  animation-delay: 0.5s;
}

.dishes__block__card:nth-child(3n) {
  animation-delay: 0.75s;
}

.dishes__block__card:nth-child(4n) {
  animation-delay: 1s;
}

.dishes__block__card:nth-child(5n) {
  animation-delay: 1.25s;
}

.dishes__block__card:nth-child(6n) {
  animation-delay: 1.5s;
}

.dishes__block__card:nth-child(7n) {
  animation-delay: 1.75s;
}

.dishes__block__card:nth-child(8n) {
  animation-delay: 2s;
}

.dishes__block__card:nth-child(9n) {
  animation-delay: 2.25s;
}

@media screen and (min-width: 768px) {
  .dishes {
    width: 30%;
  }
}
.dishes__title {
  font-weight: normal;
  margin-left: 20px;
  margin-top: 40px;
}
.dishes__title::after {
  content: "";
  width: 40px;
  display: block;
  height: 3px;
  background-color: #99E2D0;
  bottom: -5px;
}
.dishes__block__card {
  display: block;
  background-color: white;
  border-radius: 12px;
  height: 68px;
  width: 90%;
  margin: auto;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  padding: 15px 10px;
  position: relative;
  margin-bottom: 14px;
  overflow: hidden;
  animation: card 1000ms;
  animation-fill-mode: backwards;
}
.dishes__block__card:hover .dishes__block__card__validation {
  transform: translateX(0);
}
.dishes__block__card:hover .dishes__block__card__validation__check {
  transform: rotate(1turn);
}
.dishes__block__card:hover .dishes__block__card__price {
  transform: translateX(-60px);
}
.dishes__block__card:hover .dishes__block__card__text {
  width: 65%;
}
.dishes__block__card__text {
  max-width: 85%;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  transition: all 500ms;
}
.dishes__block__card__title {
  display: block;
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.dishes__block__card__description {
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.dishes__block__card__price {
  position: absolute;
  right: 15px;
  bottom: 5px;
  transform: translateX(0);
  transition: all 500ms;
}
.dishes__block__card__validation {
  height: 68px;
  width: 60px;
  background-color: #99E2D0;
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-bottom-right-radius: inherit;
  border-top-right-radius: inherit;
  transform: translateX(60px);
  transition: all 500ms;
  text-align: center;
  line-height: 68px;
}
.dishes__block__card__validation__check {
  color: white;
  font-size: 20px;
  transform: rotate(0turn);
  transition: all 500ms linear;
}

#order {
  background-color: #f5f7f7;
  padding-bottom: 50px;
  padding-top: 10px;
}

/*# sourceMappingURL=style.css.map */
