html{
    width: 100%;
}

body {
    margin : 0px;
}

main{
    width: 100%;
    font-family: 'Roboto';
}

a
{
	text-decoration: none;
	color: black;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

footer {
    width: 100%;
    background-color: $color-footer;
    color: white;
    padding-top: 25px;
    padding-bottom: 60px;
}