#intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $color-background;
    height: 287px;
    margin: auto;
    text-align: center;
    padding-top: 45px;
}

.subtitle {
    margin: 0px;
}

.subtitle__intro {
    font-weight: 400;

}

.explore {
    text-decoration: none;
    color: white;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 57px;
}
