#restaurants {
    width: 100%;
    background-color: #f5f7f7;
    display: block;
}

.restaurant {
    padding-top: 45px;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 28px;
    @media screen and (min-width: 768px) {
        text-align: center; 
        margin-left: 0px;}
    &__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &__link {
        width: 90%;
        @media screen and (min-width: 768px) and (max-width: 1439px) {
            width: 45%;}
            @media screen and (min-width: 1440px) {
                width: 20%;}
    }
    &__card {
        display: block;
        position: relative;
        background-color: #FFFFFF;
        border-radius: 11px;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
        width: 100%;
        min-width: 246px;
        margin: auto;
        margin-bottom: 30px;
        box-sizing: border-box;
        &__new {
            position: absolute;
            background-color: #69e8d1;
            color: #008b61;
            width: 81px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 2px;
            top: 13px;
            font-size: 13px;
            right: 13px;
        }
        &__img {
            width: 100%;
            object-fit: cover;
            border-top-right-radius: 11px;
            border-top-left-radius: 11px;
            height: 174px;
        }
        &__info {
            display: flex;
            justify-content: space-between;
            height: 77px;
            margin-left: 14px;  
            margin-right: 24px;          
        }
    }
}

.restaurant__card__info__text {
    &__title {
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 15px;
    }
    &__place {
        margin-top: 0px;        
    }
}


.restaurant__card__info__heart { 
    display: block;
    align-content: center;
    &__visible {                 
    display: block;
    position: relative;
    top: 25px;
    background-color: white;
    opacity: 1;
    transition: opacity 250ms;
    z-index: 1;
        &:hover {
            opacity: 0;
        } 
    }          
    &__hidden {                 
        background: linear-gradient(55deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color:transparent;
        position: relative;
        top: 3px;    
    }
}

.heart-icon {
    font-size: 21px;
}